/*----CSS Reset----*/
* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

/*----Main Styling -----*/

body {
width: 80%;
max-width: 600px;
margin: auto;
background: #ffffff;
    
}

/*-----Typography----*/

h1, h2
{
   font-weight: bold;
    color: #2E86C1;
    text-align: center;
}

p, blockquote {
    margin-bottom: 1.5em;
    line-height: 1.4;
}

h1 { 
    font-size: 3.820em;
    margin-top: auto;
    margin-bottom: auto;
}

h2 { 
     font-size:2em;
     margin: 3em 0 1em 0;
  }

header h2 {
    margin: 0.5em 0 1em;
}
blockquote {
    font-size: 1.214em;
    color: grey;
    hanging-punctuation: first;
    text-indent: -0.42em;
    
}

blockquote cite{
   font-size: .9em;
    color: #2E86C1;
}
 footer{
    float: inherit;
    bottom: auto;
    text-align: left;
    font-size: 0.8em;
}

header {margin-top: 7em}

header h1 {
    font-style: italic
}


/*---STYLING LINKS -----*/

a{ 
    color:mediumaquamarine;
    text-decoration: none;
}

a:hover{
    color: yellow;
    border-bottom: 2px dotted;
}

/*----Navigation-----*/
nav{
    position:fixed;
    top:0;
    left:0;
    margin:0;
    width:100%;
    background-color:#2E86C1;
    padding: 1em 0;
    font-size: 0.76em;

}

nav ul { 
        text-align: center;
        text-transform: uppercase;
}

nav ul li {
    display: inline;
    margin: 40px;
}

nav a:hover {
            border-bottom:none;
            color:#fff
}

nav a {color: aqua}


